<!DOCTYPE html>
<html lang="tr">

<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Chat App</title>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
        integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="card">
            <div class="dminfo">
                <div class="dmprofile"></div>
                <div class="dmname">Chat Uygulaması</div>
            </div>
            <div class="dmcontent">

            </div>
            <br><br>
            <div class="userdiv">
                <input id="message" name="message" class="textinput" type="text"
                    placeholder="Göndermek istediğiniz mesajı buraya yazın.">
            </div>
        </div>
    </div>

    <script>




        const socket = io();

        const messageinput = document.getElementById("message");
        const gonderbtn = document.getElementById("gonderbtn");
        const dmcontent = document.querySelector(".dmcontent");


        const params = new URLSearchParams(window.location.search);
        const username = params.get("username") || "Ziyaretçi";





        document.addEventListener("keydown", (event) => {
            if (event.key == "Enter" && !event.shiftKey) {
                event.preventDefault();
                let message = document.getElementById("message");
                socket.emit("message", { user: username, text: message.value });
            }
        });

        socket.on("yourmessage", (data) => {
            let date = new Date();
            const messageDiv = document.createElement("div");
            messageDiv.className = "message-row me";
            const messageRow = document.createElement("div");
            messageRow.className = "usermessage bggreenright";
            messageRow.innerHTML = data.text + "<time>" + date.getHours() + ":" + date.getMinutes() + "</time>";
            dmcontent.appendChild(messageDiv);
            messageDiv.appendChild(messageRow);
            messageinput.value = "";

            dmcontent.scrollTop = dmcontent.scrollHeight;

            new Audio("audios/sending.mp3").play();
        });

        socket.on("message", (data) => {
            let date = new Date();
            const messageDiv = document.createElement("div");
            messageDiv.className = "message-row other";
            const messageRow = document.createElement("div");
            messageRow.className = "usermessage bgdarkleft";
            messageRow.innerHTML = `
            <span>${data.user}</span> <p class=msgandtime>${data.text}  <time>${date.getHours()}:${date.getMinutes()}</time></p>
            `;


            dmcontent.appendChild(messageDiv);
            messageDiv.appendChild(messageRow);
            dmcontent.scrollTop = dmcontent.scrollHeight;
            new Audio("audios/coming.mp3").play();
        });

        socket.on("friend", (data) => {
            const systemMessageDiv = document.createElement("div");
            systemMessageDiv.className = "systemMessage";
            const systemMessageRow = document.createElement("div");
            systemMessageRow.className = "systemMessageRow";
            systemMessageRow.textContent = data;

            dmcontent.appendChild(systemMessageDiv);
            systemMessageDiv.appendChild(systemMessageRow);
            dmcontent.scrollTop = dmcontent.scrollHeight;
        });


    </script>
</body>

</html>