* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
}

.dminfo {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.dmprofile {
    background-image: url("/images/dmpp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    margin-left: 1rem;
}

.dmname {
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px white;
    font-size: 1.3rem;
    color: black;
}

.dmcontent {
    width: 100%;
    flex-grow: 1;
    background-color: transparent;
    overflow-y: auto;
}

.userdiv {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textinput {
    width: 320px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin-right: auto;
    background-color: transparent;
    color: black;
    font-size: 16px;


}

.submitinput {
    background-color: rgb(0, 93, 155);
    border: 0;
    color: white;
    height: 50px;
    width: 70px;
    margin-left: auto;
    cursor: pointer;
    font-size: 15px;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textinput:focus {
    outline: 0;
    border: 0;
}

.textinput::placeholder {
    color: gray;
}


.message-row.me {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.message-row.other {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.usermessage {
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 100px;
    min-height: 40px;
    margin-top: 1rem;
    max-width: 200px;
    max-height: 500px;
    width: fit-content;
    padding: 10px 10px;
    overflow-wrap: break-word;
    white-space: normal;


}

@keyframes textanim {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.bggreenright {
    background-color: rgb(0, 69, 133);
    margin-right: 1rem;
    animation: .5s textanim forwards;
}

.bgdarkleft {
    background-color: #101010;
    margin-left: 1rem;
    animation: .5s textanim forwards;
}

