* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}


.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    width: 100dvw;
    height: 100dvh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
}

.dminfo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #262626;
    position: fixed;
}

.dmprofile {
    background-image: url("/images/dmpp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    margin-left: 1rem;
}

.dmname {
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px black;
    font-size: 1.3rem;
    color: white;
}

.dmcontent {
    width: 100%;
    flex-grow: 1;
    background-color: transparent;
    overflow-y: auto;
    height: 100%;
    margin-top: 5rem;
}

.userdiv {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.textinput {
    width: 95%;
    height: 50px;
    border-radius: 100px;
    border: 0;
    background-color: #262626;
    color: white;
    font-size: 16px;
    padding: 10px;
}


.textinput:focus {
    outline: 0;
    border: 0;
}

.textinput::placeholder {
    color: gray;
}


.message-row.me {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.message-row.other {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.usermessage {
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 100px;
    min-height: 40px;
    margin-top: 1rem;
    max-width: 500px;
    max-height: 500px;
    width: fit-content;
    padding: 10px 10px;
    overflow-wrap: break-word;
    white-space: normal;
}



span
{
    color: green;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes textanim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bggreenright {
    background-color: green;
    margin-right: 5rem;
    animation: .5s textanim forwards;
    box-shadow:
        rgba(0, 128, 0, 0.4) 5px 5px,
        rgba(34, 139, 34, 0.3) 10px 10px,
        rgba(60, 179, 113, 0.2) 15px 15px,
        rgba(144, 238, 144, 0.1) 20px 20px,
        rgba(200, 255, 200, 0.05) 25px 25px;

}

.bgdarkleft {
    background-color: #242424;
    margin-left: 5rem;
    animation: .5s textanim forwards;
    box-shadow:
        rgba(36, 36, 36, 0.4) -5px 5px,
        rgba(70, 70, 70, 0.3) -10px 10px,
        rgba(120, 120, 120, 0.2) -15px 15px,
        rgba(180, 180, 180, 0.1) -20px 20px,
        rgba(220, 220, 220, 0.05) -25px 25px;

}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100px;
}

.systemMessage {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.systemMessageRow {
    background-color: gray;
    color: white;
    border-radius: 100px;
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

time {
    margin-left: 10px;
    font-size: 0.8em;
    color: lightgray;
}